body{
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif; 
   overflow-x: hidden;
   background-color: #EEEEEE;
}

.globalBackgroundImage1{
    background-image: url(images/background-black.png);
    background-repeat: no-repeat;
    background-size: 50px;
}
.globalBackgroundImage2{
    background-image: url(images/background-black.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 82% 100%;
    
}

.globalBackgroundImage3{
    background-image: url(images/background-black.png);
    background-repeat: no-repeat;
    background-size: 50px;
    margin-left: 160px;

}

.halfWidth-global{
    display: flex;
    width: 100%;
    margin-left: 10%;
    margin-top: 24px;
    margin-bottom: 160px;
}

#banner-text{
    width: 40%;
    text-align: left;
    margin-top: 40px;
}

#banner-img{
    width: 40%;
    margin-left:200px;
}

#banner-img img{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.global-color{
    color: #5F6671
}

.global-paragraph{
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 150px #e3cee0;
    color: #5F6671;
    margin-bottom: 30px;
}

.button-global{
    text-decoration: none;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #fff, #ccc);
    padding: 10px;
    margin-top: 15px;
    color: #5F6671;
    font-weight: bold;
}



#skills-txt{
    width: 40%;
    text-align: left;
    margin-top: 20px;
    margin-left: 300px;
}

#skills-img img{
    margin-top: 40px;
}


#skills-txt ul{
    margin-bottom: 20px;
}

#projects-heading{
    text-align: center;
    margin-top: 36px;
}

.projects-card {
    width: 25%;
    background-color: #D6D6D6;
    margin-left: 30px;
    margin-top: 20px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
}